@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    /* background-color: rgb(235, 225, 225); */
    height: 100px;


}

.logo {
    margin-left: 10%;
    flex: 20%;
    /* border: 1px solid black; */
    color: #ae557e;
    text-align: center;

}

.menu {
    margin-right: 10%;
    flex: 70%;
    /* border: 1px solid red; */
    text-align: right;
    padding: 25px;
}

.menu a {
    color: #ae557e;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    padding: 20px;

}

.menu a:hover {
    border-top: 4px solid #112f17;
}

.header {
    /* background-color: rgb(235, 225, 225); */
    display: flex;
    /* width: 100%; */
    flex-flow: row wrap;
}

.texto {
    /* border: 1px solid black; */
    margin-left: 10%;
    flex: 40%;
    flex-flow: row wrap;
}

.texto h2 {
    color: #112f17;
    font-size: 50px;
    font-weight: 700;
}

.img {
    /* border: 1px solid red; */
    margin-right: 10%;
    flex: 40%;
    flex-flow: row wrap;

}

#botao {
    background-color: #112f17;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    text-transform: uppercase;
}

#botao:hover {
    background-color: #ae557e;
}

.contatos {
    display: flex;
    /* background-color: blue; */

}

.contatos .face {
    margin-left: 10%;

}

.contatos .face a img {
    width: 50%;
}

.contatos .youtube a img {
    width: 50%;
}

.contatos .instagram a img {
    width: 50%;
}
.rodape{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:2px solid #ae557e;
    background-color: #112f17;
    flex-direction: column;
}
.rodape h2 {
    color: #ae557e;
    text-align: center;

}
.rodape p{
    color: #fff;
}